*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/dictionaries
*/.idea/shelf
*.ipr
*.iws
/out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.jar
*.war
*.ear
hs_err_pid*
*~
.directory
.Trash-*
